*.pyc
__pycache__/
db.sqlite3
/media/
/static/
/staticfiles/

.env

venv/
.venv/
env/


.idea/
/shelf/
/workspace.xml
/httpRequests/
/queries/
/dataSources/
/dataSources.local.xml


.DS_Store
Thumbs.db